<div class="password">
  <input id="foo" readonly="true" value="<%= @password %>">
</div>
<div class="form">
  <form phx-change="update_length">
    <input type="range" min="3" max="10" name="length" value="<%= @length %>" />
  </form>
  <span><%= @length %></span>
</div>
<div>
  <button phx-click="gen_passwd" value="<%= @length %>">
    Generate new password
  </button>
  <button class="btn" data-clipboard-target="#foo">
    Copy to clipboard
  </button>
</div>
