<%= @password %>
<form phx-change="update_length">
  <input type="range" min="3" max="10" name="length" value="<%= @length %>" />
</form>
<%= @length %>
<div>
  <button phx-click="gen_passwd" value="<%= @length %>">Generate new password</button>
</div>
